ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5050
ConnectionStrings__FleetForge=Host=localhost;Port=5432;Database=invoicetrucker;Username=invoicetrucker;Password=invoicetrucker_dev
Cors__AllowedOrigins__0=http://localhost:3000
Database__ApplyMigrations=false
EmailNotifications__ResendApiKey=
EmailNotifications__RecipientAddress=info@invoicetrucker.com
EmailNotifications__FromAddress=InvoiceTrucker Early Access <early-access@invoicetrucker.com>
